{% extends "Aplicacion/Estetica/index.html" %}


{% block titulo %}
<h1 class="mb-5">Calificaciones</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td>
            <a href="{% url 'calificacion_create' %}">
                <i aria-hidden="true" class="fa fa-solid fa-plus-minus fa-2x"></i>
                <span class="fa fa-sr-only fa-2x">Crear calificacion</span>
            </a>

            <a href="{% url 'buscar_calificacion' %}">
                <i aria-hidden="true" class="fa fa-solid fa-magnifying-glass fa-2x"></i>
                <span class="fa fa-sr-only fa-2x">Buscar Calificacion</span>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de la materia</th>
            <th>Nombre del alumno</th>
            <th>Notas</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in calificacion  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.NombreMateria}}</td>
            <td>{{ c.NombreAlumno }}</td>
            <td>{{ c.nota }}</td>
            <td>
                <a
                  href="{% url 'calificacion_update' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'calificacion_delete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>            
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
    
    