{% extends "Aplicacion/Estetica/index.html" %}



{% block titulo %}
<h3 class="mb-5"><em>Eliminar mesa</em></h3>
{% endblock titulo %}




{% block contenido %}
<h2>Calificacion</h2>
<form action="" method="POST">
    {% csrf_token %}   
    <div class="text-center">     
        <h3>¿ Estas seguro que quiere eliminar la mesa? <p style="color:red">{{ object }}</p> </h3>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
    </div>
</form>
{% endblock contenido %}