{% extends "Aplicacion/Estetica/index.html" %}


{% block contenido %}
    <h2>Acerca de mi</h2>
    <p>Soy Mirko , estudiante del curso de programacion Python.Tengo 21 años ,vivo en Argentina , especificamente en la ciudad de Rosario donde estudio en la UTN la carrera de Ingenieria en Sistemas de Informacion</p>
    <p>Naci en la ciudad de Venado Tuerto , donde hice la secundaria en un colegio tecnico donde me enseñaron a programar linux y distintos sistemas operativos funcionales.</p>
    <p>Empece el curso de Python para introducirme dentro de los conceptos basicos de la programacion y poder realizar mi primer sitio web</p>

{% endblock contenido %}